* {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.header {
    font-family: Courier;
    vertical-align: middle;
    border-bottom: 1px dotted black;
    margin-bottom: 10px;
    height: 32px;
}

h2 {
    font-size: 36px;
    display: inline-block;
}

span {
    background-color: transparent;
}

span.type, span.cursor {
    position: absolute;
    left:0;
    top:0;
}

#container {
    /*80 * 8 = 646*/
    /*60 * 11 = 660px + 6 pixel padding  = 666px*/
    width: 666px;
    margin: auto;
    position: relative;
}

#carbon {
    margin-top: 10px;
    height: 900px;
    /*background-color: #FFFBFE;*/
/*    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;*/
    position: relative;
    padding: 0 2px;
}

#carbon.courier {
    font-family: Courier;
}

#carbon.courier {
    font-family: Courier;
}


a {
    color: black;
    text-decoration:  none;
    font-weight: bold;
}

a:visited {
    color: black;
}

a:active {
    color: red;
}

a.unavailable {
    text-decoration: line-through;
}

a.unavailable:hover {
    text-decoration: line-through;
}

ul {
    list-style: none;
    display: inline-block;
    float: right;
    margin-top: 15px;
}

li {
    float: left;
    margin-right: 20px;
}

.blur {
   /*color: black;*/
   /*text-shadow: 0 0 1px rgba(0,0,0,0.5);*/
   font-weight: bold;
}

.fade {
   /*color: black;*/
   /*text-shadow: 0 0 1px rgba(0,0,0,0.5);*/
   font-weight: 100;
   color: #777;
}

.wiggle {
    transform: rotate(3deg);
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Safari and Chrome */
    -o-transform: rotate(3deg); /* Opera */
    -moz-transform: rotate(3deg); /* Firefox */
}

.left-shift, .right-shift {

}

input {
    width: 642px;
}

#messages {
    height:20px;
}

.message {
    display: none;
    background-color: #FFFCFC;
    padding: 2px;
    text-align: center;
    font-size: 14px;
}

