* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.header {
    vertical-align: middle;
    border-bottom: 1px dotted black;
    margin-bottom: 10px;
}

h2 {
    display: inline-block;
}

span {
    background-color: transparent;
    position: absolute;
    left:0;
    top:0;
}

#container {
    /*80 * 8*/
    width: 646px;
    margin: auto;
    position: relative;
}

#carbon {
    height: 700px;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
    position: relative;
    padding: 0 2px;
}

a {
    text-decoration:  none;
    font-weight: bold;
}

a:hover {
    text-decoration: line-through;
}

ul {
    list-style: none;
    display: inline-block;
    float: right;
}

li {
    float: left;
    margin-right: 10px;
}

.blur {
   /*color: black;*/
   /*text-shadow: 0 0 1px rgba(0,0,0,0.5);*/
   font-weight: bold;
}

.fade {
   /*color: black;*/
   /*text-shadow: 0 0 1px rgba(0,0,0,0.5);*/
   font-weight: 100;
   color: #777;
}

.wiggle {
    transform: rotate(3deg);
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Safari and Chrome */
    -o-transform: rotate(3deg); /* Opera */
    -moz-transform: rotate(3deg); /* Firefox */
}

.left-shift, .right-shift {

}

input {
    width: 642px;
}

