* {
    font-size: 18px;
    margin: 0;
    padding: 0;
    target-new: tab ! important;
}

html, body {
    width: 100%;
    margin: 0;
    /*overflow-y: scroll;*/
}

#feed {
    position: static;
    margin: auto;
    width: 700px;
}

#carbon {
    width: 666px;
    position: absolute;
    bottom: 80px;
    padding: 30px 12px 0 0;
    background-color: #FEFFEF;
}

.machine {
    width: 100%;
    position: absolute;
    bottom: 10px;
    font-family: Courier;
    vertical-align: bottom;
    text-align: center;
    border-top: 1px solid black;
}

.machine .controls {
    height: 18px;
}

.machine select {
    vertical-align: top;
    margin-top:  4px;
    margin-left: 6px;
}

.machine ul {
    list-style: none;
    display: inline-block;
    /*margin-top: 25px;*/
}

.machine li {
    float: left;
    margin-right: 10px;
}

h2 {
    font-size: 24px;
    display: inline-block;
}

span {
    background-color: transparent;
}

span.cursor {
    border-bottom: 1px dotted black;
    /*border-radius: 2px;*/
}

span.type, span.cursor {
    position: absolute;
    left:0;
    top:0;
}

a {
    color: black;
    text-decoration:  none;
    font-weight: bold;
}

a:visited {
    color: black;
}

a:active {
    color: red;
}

a.unavailable {
    text-decoration: line-through;
}

a.unavailable:hover {
    text-decoration: line-through;
}

.blur {
   /*color: black;*/
   /*text-shadow: 0 0 1px rgba(0,0,0,0.5);*/
   font-weight: bold;
}

.fade {
   /*color: black;*/
   /*text-shadow: 0 0 1px rgba(0,0,0,0.5);*/
   font-weight: 100;
   color: #777;
}

.wiggle {
    transform: rotate(3deg);
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Safari and Chrome */
    -o-transform: rotate(3deg); /* Opera */
    -moz-transform: rotate(3deg); /* Firefox */
}

.left-shift, .right-shift {}

#messages {
    height: 20px;
}

.message {
    font-family: "Courier";
    display: none;
    background-color: #FFFCFC;
    padding: 2px;
    text-align: center;
    font-size: 14px;
}
