@font-face { font-family: 'My Underwood'; src: url('/fonts/MyUnderwood.ttf'); font-display: swap; }
@font-face { font-family: 'Another Typewriter'; src: url('/fonts/AnotherTypewriter.ttf'); font-display: swap; }
@font-face { font-family: 'Hermes'; src: url('/fonts/Hermes.ttf'); font-display: swap; }
@font-face { font-family: 'Traveling Typewriter'; src: url('/fonts/TravelingTypewriter.ttf'); font-display: swap; }
@font-face { font-family: 'Erika Ormig'; src: url('/fonts/ErikaOrmig.ttf'); font-display: swap; }
